/* 初始化 */
body {margin:0; padding:0;font-family:"Microsoft YaHei",sans-serif;background:#f5f5f5;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,blockquote,p{padding:0; margin:0;}
input,textarea{padding:0; margin:0;border:none;-webkit-appearance:none;outline:none;} /* 去除iphone的input阴影样式-webkit-appearance:none */
table,td,tr,th{font-size:20px;}
li{list-style-type:none;}
img{vertical-align:top;border:0;width: 100%;height: 100%;}
ol,ul {list-style:none;}
h1,h2,h3,h4,h5,h6{font-weight:normal;} /* 需要自己定制标题font-size */
address,cite,code,em,th{font-weight:normal; font-style:normal;}
a{color:inherit;-webkit-tap-highlight-color:transparent;text-decoration:none;} /* 去除移动端点击色块-webkit-tap-highlight-color:transparent */
/* rem */
html{font-size:20px;color: #23242b}
@media only screen and (min-width: 400px) {html {font-size: 21.33333333px !important;}}
@media only screen and (min-width: 414px) {html {font-size: 22.08px !important;}}
@media only screen and (min-width: 480px) {html {font-size: 25.6px !important;}}

/* rem-fix */
.weui-search-bar{
    padding: .4rem .5rem;
}
.weui-search-bar__box{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.weui-search-bar__box .weui-search-bar__input {
    padding: .2rem 0;
    font-size: .7rem;
}
.weui-icon-clear, .weui-icon-search{
    font-size: .7rem;
}
.weui-search-bar{
    background-color: #eaac4c;
}
.weui-search-bar__form{
    background-color: #eaac4c;
}
.weui-search-bar.weui-search-bar_focusing .weui-search-bar__label{
    display: block;
}
.weui-search-bar:after{
    border-bottom: none;
}


.weui-navbar{
    background-color: #eaac4c;
    top: 50px;
}
.weui-navbar__item{
    color: #23242b;
    padding: 0;
    line-height: 1.8rem;
    font-size: .75rem;
}
.__item:after{
    border-right: none;
}
.weui-bar__item--on:after{
    content: " ";
    display: block;
    width: 40%;
    height: .1rem;
    position: absolute;
    left: 30%;
    right: auto;
    top: auto;
    bottom: 0;
    background-color: #23242b;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.weui-navbar__item:last-child:after{
    display: block;
}
.weui-navbar__item.weui-bar__item--on{
    background-color: #eaac4c;
    color: #23242b;
}
.weui-navbar:after{
    content: normal;
}
.weui-navbar+.weui-tab__bd{
    padding-top: 1.8rem;
}
.swiper-pagination-bullet-active{
    background-color: #eaac4c;
}
.swiper-wrapper{
    height: 10rem;
    height: 53.33vw;
    width: 100%;
}
.weui-tab__bd-item{
    padding-bottom: 2.4rem;
}
.weui-search-cancel-btn {
    margin-left: 10px;
    line-height: 28px;
    color: #23242b;
    white-space: nowrap;
}
.swiper-slide{
    position: relative;
    overflow: hidden;
}
.swiper-slide img{
    position: absolute;
    left: 50%;
    width: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.weui-dialog__btn{
    color: #eaac4c;
}