.category-nav{
    width: 100%;
    overflow: hidden;
    background-color: #ffffff;
}
.category-item{
    float: left;
    width: 25%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: .7rem;
}
.category-photo-wrap{
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}
.category-content{
    font-size: .7rem;
    text-align: center;
    line-height: 1.3rem;
}
.tabbar-warp{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    height: 2.4rem;
    background-color: #ffffff;
    z-index: 500;
}
.tabbar-warp:after{
    content: " ";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    border-top: 1px solid #969696;
    color: #ccc;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}
.tabbar-item-warp{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.tabbar-item{
    padding-top: .4rem;
}
.tabbar-icon{
    width: 100%;
    height: 1rem;
    background: no-repeat center;
    background-size: auto 1rem;
}
.tabbar-index{
    background-image: url("../images/index.png");
}
.tabbar-code{
    background-image: url("../images/code.png");
}
.tabbar-vip{
    background-image: url("../images/vip.png");
}
.tabbar-order{
    background-image: url("../images/order.png");
}
.tabbar-content{
    text-align: center;
    font-size: .75rem;
    line-height: 1rem;
}
.tabbar-item-warp-active .tabbar-content{
    color: #eaac4c;
}
.tabbar-item-warp-active .tabbar-index{
    background-image: url("../images/index-on.png");
}
.tabbar-item-warp-active .tabbar-code{
    background-image: url("../images/code-on.png");
}
.tabbar-item-warp-active .tabbar-vip{
    background-image: url("../images/vip-on.png");
}
.tabbar-item-warp-active .tabbar-order{
    background-image: url("../images/order-on.png");
}
.product-item-warp{
    margin-top: .5rem;
    background-color: #ffffff;
    padding: 1rem;
    position: relative;
    height: 8rem;
}
.product-photo-warp{
    width: 8rem;
    height: 8rem;
    position: absolute;
    left: 1rem;
    top: 1rem;
}
.product-info-warp{
    padding-left: 8.6rem;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.product-title{
    font-size: .7rem;
    line-height: .9rem;
    word-break: break-all;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    min-height: 1.8rem;
}
.product-price{
    font-size: .7rem;
    color:#e14a51;
    padding-top: .3rem;
    line-height: 1.1rem;
}
.product-describe{
    font-size: .6rem;
    color:#23242b;
    word-break: break-all;
    padding-top: .3rem;
    line-height: .85rem;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    min-height: 2rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.product-join{
    width: 100%;
    line-height: 1.4rem;
    font-size: .75rem;
    background-color: #eaac4c;
    text-align: center;
    margin: .2rem 0;
}
.product-tips{
    overflow: hidden;
}
.product-number{
    font-size: .6rem;
    float: left;
    color:#969696;
    line-height: 1rem;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: .8rem;
}
.product-number-icon{
    display: block;
    position: absolute;
    left: 0;
    top: .15rem;
    height: .7rem;
    width: .7rem;
}
.product-default-price{
    font-size: .6rem;
    float: right;
    color:#969696;
    text-decoration: line-through;
    line-height: 1rem;
}
.vip-container{
    padding-bottom: 2.4rem;
}
.person-photo-outwarp{
    width: 100%;
    height: 9rem;
    background: url("../images/vip-bk.png") no-repeat left top;
    background-size: 100%;
    padding-top: .6rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.person-photo-warp{
    margin: 0 auto;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: .2rem solid #ffffff;
    overflow: hidden;
}
.person-name{
    font-size: .75rem;
    text-align: center;
    color: #ffffff;
    padding-top: .3rem;
}
.vip-greet{
    font-size: .6rem;
    text-align: center;
    margin-top: .2rem;
    color: #ffffff;
}
.person-setting-warp{
    background: #ffffff;
    margin-top: .5rem;
}
.person-setting-item{
    position: relative;
    display: block;
    width: 100%;
    padding-left: .8rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: .75rem;
    line-height: 2rem;
    height: 2rem;
    background: url("../images/select-right.png") no-repeat 96%;
    background-size: auto .85rem;
}
.person-setting-item:after{
    content: "";
    display: block;
    position: absolute;
    left: -.8rem;
    bottom: 0;
    width: 100%;
    padding-left: .8rem;
    border-top: 1px solid #cccccc;
    color: #cccccc;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}
.person-setting-item:last-child:after{
    display: none;
}


.order-nav{
    background-color: #ffffff;
}
.order-nav .weui-navbar__item.weui-bar__item--on{
    background-color: #ffffff;
    color: #eaac4c;
}
.order-nav .weui-bar__item--on:after{
    width: 60%;
    left: 20%;
    background-color: #eaac4c;
}
.no-order-tips-warp{
    position: fixed;
    left: 50%;
    top: 45%;
    width: 7.5rem;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.no-order-photo{
    width: 1.5rem;
    height: auto;
    margin: 0 auto;
}
.no-order-content{
    display: block;
    font-size: .7rem;
    color: #969696;
    text-align: center;
    margin-top: 1rem;
}
.no-order-btn{
    display: block;
    background-color: #eaac4c;
    font-size: .75rem;
    line-height: 1.4rem;
    color: #ffffff;
    border-radius: .2rem;
    text-align: center;
    width: 5rem;
    margin: 0 auto;
    margin-top: 1rem;
}
.order-info-item{
    margin-top: .5rem;
}
.order-state-warp{
    background-color: #ffffff;
    padding: 0 .8rem;
    overflow: hidden;
    line-height: 1.5rem;
    height: 1.5rem;
}
.order-group{
    float: left;
    color: #969696;
    padding-left: .85rem;
    position: relative;
}
.order-group-icon{
    display: block;
    position: absolute;
    left: 0;
    top: .4rem;
    height: .7rem;
    width: .7rem;
}
.order-state{
    float: right;
    color: #e14a51;
}
.order-product-warp{
    position: relative;
    padding: .4rem .8rem;
}
.order-product-photo{
    width: 5rem;
    height: 5rem;
    position: absolute;
    left: .8rem;
    top: .4rem;
}
.order-product-content-warp{
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 5.8rem;
}
.order-product-title{
    font-size: .75rem;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.4rem;
}
.order-product-price{
    color: #e14a51;
    font-size: .7rem;
    line-height: 1.2rem;
}
.order-product-number{
    font-size: .7rem;
    color: #969696;
    line-height: 1.2rem;
}
.order-product-transport{
    font-size: .7rem;
    color: #969696;
    line-height: 1.2rem;
}
.order-total-price{
    background-color: #ffffff;
    padding: 0 .8rem;
    font-size: .7rem;
    color: #969696;
    text-align: right;
    line-height: 1.5rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    height: 1.5rem;
}
.order-total-price:after{
    content: " ";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid #ccc;
    color: #ccc;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}
.order-btn-warp{
    background-color: #ffffff;
    height: 2.2rem;
    overflow: hidden;
    padding: .4rem .8rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.order-btn{
    float: right;
    text-align: center;
    width: 6rem;
    line-height: 1.3rem;
    border-radius: .2rem;
    border: 1px solid #969696;
    color: #969696;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: .75rem;
    margin-left: .5rem;
}
.order-btn-red{
    border: 1px solid #e14a51;
    color: #ffffff;
    background-color: #e14a51;
}