.category-nav{
    width: 100%;
    overflow: hidden;
    background-color: #ffffff;
}
.category-item{
    float: left;
    width: 25%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: .7rem;
}
.category-photo-wrap{
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}
.category-content{
    font-size: .7rem;
    text-align: center;
    line-height: 1.3rem;
}
.tabbar-warp{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    height: 2.4rem;
    background-color: #ffffff;
    z-index: 500;
}
.tabbar-warp:after{
    content: " ";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    border-top: 1px solid #969696;
    color: #ccc;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}
.tabbar-item-warp{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.tabbar-item{
    padding-top: .4rem;
}
.tabbar-icon{
    width: 100%;
    height: 1rem;
    background: no-repeat center;
    background-size: auto 1rem;
}
.tabbar-index{
    background-image: url("../images/index.png");
}
.tabbar-code{
    background-image: url("../images/code.png");
}
.tabbar-vip{
    background-image: url("../images/vip.png");
}
.tabbar-order{
    background-image: url("../images/order.png");
}
.tabbar-content{
    text-align: center;
    font-size: .75rem;
    line-height: 1rem;
}
.tabbar-item-warp-active .tabbar-content{
    color: #eaac4c;
}
.tabbar-item-warp-active .tabbar-index{
    background-image: url("../images/index-on.png");
}
.tabbar-item-warp-active .tabbar-code{
    background-image: url("../images/code-on.png");
}
.tabbar-item-warp-active .tabbar-vip{
    background-image: url("../images/vip-on.png");
}
.tabbar-item-warp-active .tabbar-order{
    background-image: url("../images/order-on.png");
}
.product-item-warp{
    margin-top: .5rem;
    background-color: #ffffff;
    padding: 1rem;
    position: relative;
    height: 8rem;
}
.product-photo-warp{
    width: 8rem;
    height: 8rem;
    position: absolute;
    left: 1rem;
    top: 1rem;
    overflow: hidden;
}
.product-photo-warp img{
    width: auto;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 0;
}
.product-info-warp{
    padding-left: 8.6rem;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.product-title{
    font-size: .7rem;
    line-height: .9rem;
    word-break: break-all;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    min-height: 1.8rem;
}
.product-price{
    font-size: .7rem;
    color:#e14a51;
    padding-top: .3rem;
    line-height: 1.1rem;
}
.product-describe{
    font-size: .6rem;
    color:#23242b;
    word-break: break-all;
    padding-top: .3rem;
    line-height: .85rem;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    min-height: 2rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.product-join{
    width: 100%;
    line-height: 1.4rem;
    font-size: .75rem;
    background-color: #eaac4c;
    text-align: center;
    margin: .2rem 0;
    display: block;
}
.product-tips{
    overflow: hidden;
}
.product-number{
    font-size: .6rem;
    float: left;
    color:#969696;
    line-height: 1rem;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: .8rem;
}
.product-number-icon{
    display: block;
    position: absolute;
    left: 0;
    top: .15rem;
    height: .7rem;
    width: .7rem;
}
.product-default-price{
    font-size: .6rem;
    float: right;
    color:#969696;
    text-decoration: line-through;
    line-height: 1rem;
}
.vip-container{
    padding-bottom: 2.4rem;
}
.person-photo-outwarp{
    width: 100%;
    height: 9rem;
    background: url("../images/vip-bk.png") no-repeat left top;
    background-size: 100%;
    padding-top: .6rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.person-photo-warp{
    margin: 0 auto;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: .2rem solid #ffffff;
    overflow: hidden;
}
.person-name{
    font-size: .75rem;
    text-align: center;
    color: #ffffff;
    padding-top: .3rem;
}
.vip-greet{
    font-size: .6rem;
    text-align: center;
    margin-top: .2rem;
    color: #ffffff;
}
.person-setting-warp{
    background: #ffffff;
    margin-top: .5rem;
}
.person-setting-item{
    position: relative;
    display: block;
    width: 100%;
    padding-left: .8rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: .75rem;
    line-height: 2rem;
    height: 2rem;
    background: url("../images/select-right.png") no-repeat 96%;
    background-size: auto .85rem;
}
.person-setting-item:after{
    content: "";
    display: block;
    position: absolute;
    left: -.8rem;
    bottom: 0;
    width: 100%;
    padding-left: .8rem;
    border-top: 1px solid #cccccc;
    color: #cccccc;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}
.person-setting-item:last-child:after{
    display: none;
}


.order-nav{
    background-color: #ffffff;
}
.order-nav .weui-navbar__item.weui-bar__item--on{
    background-color: #ffffff;
    color: #eaac4c;
}
.order-nav .weui-bar__item--on:after{
    width: 60%;
    left: 20%;
    background-color: #eaac4c;
}
.no-order-tips-warp{
    position: fixed;
    left: 50%;
    top: 45%;
    width: 7.5rem;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.no-order-photo{
    width: 1.5rem;
    height: auto;
    margin: 0 auto;
}
.no-order-content{
    display: block;
    font-size: .7rem;
    color: #969696;
    text-align: center;
    margin-top: 1rem;
}
.no-order-btn{
    display: block;
    background-color: #eaac4c;
    font-size: .75rem;
    line-height: 1.4rem;
    color: #ffffff;
    border-radius: .2rem;
    text-align: center;
    width: 5rem;
    margin: 0 auto;
    margin-top: 1rem;
}
.order-info-item{
    margin-top: .5rem;
}
.order-state-warp{
    background-color: #ffffff;
    padding: 0 .8rem;
    overflow: hidden;
    line-height: 1.5rem;
    height: 1.5rem;
}
.order-group{
    float: left;
    color: #969696;
    padding-left: .85rem;
    position: relative;
    font-size: .7rem;
}
.order-group-icon{
    display: block;
    position: absolute;
    left: 0;
    top: .4rem;
    height: .7rem;
    width: .7rem;
}
.order-state{
    float: right;
    color: #e14a51;
    font-size: .7rem;
}
.order-product-warp{
    position: relative;
    padding: .4rem .8rem;
}
.order-product-photo{
    width: 5rem;
    height: 5rem;
    position: absolute;
    left: .8rem;
    top: .4rem;
    overflow: hidden;
}
.order-product-photo img{
    width: auto;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.order-product-content-warp{
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 5.8rem;
}
.order-product-title{
    font-size: .75rem;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.4rem;
    white-space: nowrap;
}
.order-product-price{
    color: #e14a51;
    font-size: .7rem;
    line-height: 1.2rem;
}
.order-product-number{
    font-size: .7rem;
    color: #969696;
    line-height: 1.2rem;
    height: 1.2rem;
}
.order-product-transport{
    font-size: .7rem;
    color: #969696;
    line-height: 1.2rem;
    height: 1.2rem;
}
.order-product-number .product-detail-tips,.order-product-transport .product-detail-tips{
    padding-left: .7rem;
    padding-right: 1.2rem;
}
.order-product-number .product-detail-tips:after,.order-product-transport .product-detail-tips:after{
    left: 0;
}
.order-total-price{
    background-color: #ffffff;
    padding: 0 .8rem;
    font-size: .7rem;
    color: #969696;
    text-align: right;
    line-height: 1.5rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    height: 1.5rem;
}
.order-btn-warp:after{
    content: " ";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    border-top: 1px solid #ccc;
    color: #ccc;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}
.order-btn-warp{
    position: relative;
    background-color: #ffffff;
    height: 2.2rem;
    overflow: hidden;
    padding: .4rem .8rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.order-btn{
    float: right;
    text-align: center;
    width: 6rem;
    line-height: 1.3rem;
    border-radius: .2rem;
    border: 1px solid #969696;
    color: #969696;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: .75rem;
    margin-left: .5rem;
}
.order-btn-red{
    border: 1px solid #e14a51;
    color: #ffffff;
    background-color: #e14a51;
}


.hot-search-warp{
    background: #ffffff;
    padding: .5rem .8rem;
}
.hot-search-title{
    font-size: .75rem;
    color: #969696;
}
.hot-search-btn-warp{
    overflow: hidden;
    margin-top: .5rem;
}
.hot-search-btn{
    float: left;
    font-size: .7rem;
    color: #969696;
    padding: 0 .5rem;
    margin-right: .8rem;
    line-height: 1.1rem;
    border-radius: .2rem;
    border: 1px solid #969696;
}
.product-tabbar-icon-warp{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.product-tabbar-btn-warp{
    -webkit-box-flex: 3;
    -webkit-flex: 3;
    flex: 3;
    color: #ffffff;
}
.tabbar-collect{
    background-image: url("../images/collect.png");
}
.tabbar-service{
    background-image: url("../images/service.png");
}
.product-tabbar-yellow-item{
    background-color: #eaac4c;
}
.product-tabbar-red-item{
    background-color: #e14a51;
}
.product-tabbar-price{
    text-align: center;
    line-height: 1.2rem;
    padding-top: .2rem;
}
.product-container{
    padding-bottom: 2.4rem;
}
.swiper-container-product .swiper-slide,.swiper-container-product .swiper-wrapper{
    height: 15rem;
    height: 80vw;
}
.product-detail-warp{
    background-color: #ffffff;
    padding: .5rem .8rem;
}
.product-detail-price-warp{
    overflow: hidden;
}
.product-detail-rel-price{
    float: left;
    font-size: .75rem;
    color: #e14a51;
    line-height: 1.2rem;
}
.product-detail-default-price{
    font-size: .6rem;
    float: left;
    margin-left: 1rem;
    color: #969696;
    text-decoration: line-through;
    line-height: 1.2rem;
}
.product-detail-title{
    font-size: .75rem;
    line-height: 1.4rem;
}
.product-detail-content{
    font-size: .65rem;
    color: #969696;
}
.product-detail-tips-warp{
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: .7rem;
    line-height: 1.4rem;
    margin-top: .5rem;
}
.product-detail-tips{
    color: #969696;
    font-size: .6rem;
    position: relative;
    padding-left: 1.6rem;
    float: left;
    padding-right: .3rem;
}
.product-detail-tips:after{
    content: '';
    display: block;
    position: absolute;
    width: .5rem;
    height: .5rem;
    left: .9rem;
    top: .45rem;
    background: url("../images/product-tips.png") no-repeat center;
    background-size: cover;
}
.product-group-warp{
    margin-top: .5rem;
    background: #ffffff;
    padding: .7rem  0;
}
.product-group-tips{
    background: #eaac4c;
    font-size: .65rem;
    text-align: center;
    line-height: 1.3rem;
}
.product-group-person-tips{
    font-size: .6rem;
    color: #969696;
    line-height: 1.4rem;
    text-align: center;
}
.product-group-person-warp{
    padding: 0 .8rem;
}
.product-group-person-item{
    position: relative;
    height: 2.6rem;
    margin: .6rem 0;
}
.product-group-person-photo{
    position: absolute;
    height: 2.6rem;
    width: 2.6rem;
    border-radius: 50%;
    overflow: hidden;
    z-index: 10;
    top: -.3rem;
}
.product-group-person-content{
    overflow: hidden;
    border-radius: .2rem;
    position: relative;
    background-color: #f5f5f5;
    padding: .2rem 4.1rem .2rem 2.5rem;
    margin-left: 1rem;
}
.product-group-person-top{
    font-size: .7rem;
    overflow: hidden;
    line-height: .8rem;
}
.product-group-person-bottom{
    font-size: .6rem;
    color: #969696;
    overflow: hidden;
    line-height: .8rem;
}
.product-group-person-left{
    float: left;
}
.product-group-person-right{
    float: right;
}
.product-group-person-btn{
    width: 3.6rem;
    background-color: #e14a51;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    color: #ffffff;
    height: 100%;
    text-align: center;
    line-height: 2rem;
}
.product-details-describe{
    margin-top: .5rem;
}
.product-details-describe-item{
    width: 100%;
}
.product-tabbar-pay-price{
    -webkit-box-flex: 5;
    -webkit-flex: 5;
    flex: 5;
    line-height: 2.4rem;
    font-size: .65rem;
    text-align: right;
    padding-right: .5rem;
}
.product-tabbar-pay-price .pay-price{
    color: #e14a51;
}
.product-tabbar-pay-btn{
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    flex: 2;
    background-color: #e14a51;
    color: #ffffff;
    font-size: .75rem;
    line-height: 2.4rem;
    text-align: center;
}
.pay-btn-disabled{
    background-color: #888;
}
.address-pick-warp{
    padding: .8rem .8rem;
    background: #ffffff url("../images/select-right.png") no-repeat 96%;
    background-size: auto .85rem;
    position: relative;
}
.address-icon-warp{
    position: absolute;
    height: 1.5rem;
    left: .8rem;
    top: 1.6rem;
}
.address-icon-warp img{
    width: auto;
}
.address-content{
    width: 100%;
    padding-left: 2rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #969696;
}
.address-person-info{
    font-size: .65rem;
}
.address-person-info .phone{
    margin-left: .4rem;
}
.address-specific{
    font-size: .7rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
}
.order-product-transport.product-pay{
    line-height: 2.4rem;
    height: 2.4rem;
}
.product-number-del-warp{
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
    padding: .5rem .5rem;
}
.product-number-del-warp:after{
    content: " ";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ccc;
    color: #ccc;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}
.product-number-del-title{
    float: left;
    color: #969696;
    font-size: .7rem;
    line-height: 1rem;
}
.product-number-del-btn-warp{
    overflow: hidden;
    float: right;
}
.add-btn-warp{
    width: 1rem;
    height: 1rem;
    float: left;
}
.number-input-warp{
    float: left;
    overflow: hidden;
    height: 1rem;
    border-radius: .2rem;
    margin: 0 .2rem;
}
.number-input-warp input{
    width: 2.5rem;
    height: 1rem;
    font-size: .7rem;
    color: #969696;
    background-color: #f5f5f5;
    line-height: 1rem;
    outline: none;
    text-align: center;
    vertical-align: top;
}
.sub-btn-warp{
    float: left;
    width: 1rem;
    height: 1rem;
}
.product-pay-method-warp{
    margin-top: .5rem;
    background-color: #ffffff;
}
.product-pay-method{
    position: relative;
    padding-left: 2.8rem;
    line-height: 2rem;
    height: 2rem;
}
/*.product-pay-method:first-child:after{
    content: " ";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ccc;
    color: #ccc;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}*/
.product-pay-method-icon{
    position: absolute;
    height: 1.2rem;
    left: .8rem;
    top: .4rem;
}
.product-pay-method-icon img{
    width: auto;
}
.product-pay-method.product-pay-active{
    background: url("../images/product-tips.png") no-repeat 96%;
    background-size: .8rem .8rem;
}
.md-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.6);
    z-index: 1000;
}
.md-success-icon-warp{
    position: fixed;
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    left: 50%;
    top: 45%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 5000;
    background-color: rgba(234,172,76,.8);
}
.md-success-icon{
    width: 3rem;
    margin: 0 auto;
    padding-top: 1.8rem;
}
.md-success-icon img{
    height: auto;
}
.md-success-content{
    font-size: .85rem;
    text-align: center;
    color: #ffffff;
    margin-top: .6rem;
}
.vip-modification-warp{
    margin-top: .5rem;
    position: relative;
}
.vip-modification-title{
    position: absolute;
    left: .8rem;
    font-size: .75rem;
    line-height: 1.2rem;
    padding: .4rem 0;
    top: 0;
    z-index: 100;
}
.vip-modification-input{
    width: 100%;
    font-size: .75rem;
    background-color: #ffffff;
    line-height: 1.2rem;
    padding: .4rem .8rem .4rem 3.5rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.vip-confirm-btn{
    width: 80%;
    line-height: 1.8rem;
    font-size: .8rem;
    border-radius: .2rem;
    background-color: #eaac4c;
    color: #ffffff;
    text-align: center;
    display: block;
    margin: 1.5rem auto 0 auto;
}
.vip-modification-sex{
    float: left;
    position: relative;
    width: 4rem;
    padding-left: 2rem;
}
.vip-modification-sex-icon{
    width: .8rem;
    height: .8rem;
    position: absolute;
    border-radius: 50%;
    background: #969696;
    top: .2rem;
}
.vip-modification-sex-content{
    padding-left: 1.4rem;
}
.vip-modification-sex-active .vip-modification-sex-icon{
    background: url("../images/product-tips.png") no-repeat center;
    background-size: cover;
}
.account-photo-warp{
    width: 100%;
    height: 100vw;
    overflow: hidden;
}
.account-photo-btn-warp{
    margin-top: 2rem;
}
.account-photo-btn{
    width: 10rem;
    font-size: .8rem;
    background-color: #fff;
    text-align: center;
    line-height: 2rem;
    height: 2rem;
    display: block;
    margin: .5rem auto 0 auto;
}
.order-detail-product{
    margin-top: 0;
}
.order-detail-unit{
    font-size: .6rem;
    color: #969696;
    margin-left: .1rem;
}
.order-group-info-warp{
    margin-top: .5rem;
    background-color: #ffffff;
    padding-bottom: .5rem;
}
.order-leader-info{
    background-color: #e14a51;
    padding: 0 .8rem;
    min-height: 2rem;
    overflow: hidden;
    color: #ffffff;
    font-size: .7rem;
    line-height: 2rem;
}
.order-leader-photo{
    overflow: hidden;
    float: left;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    margin-top: .2rem;
}
.order-leader-tips{
    float: left;
    margin-left: .3rem;
}
.order-leader-name{
    float: left;
    margin-left: .3rem;
}
.order-leader-time{
    float: right;
}
.order-group-person-number{
    font-size: 1rem;
    text-align: center;
    color: #e14a51;
    margin-top: .5rem;
}
.order-group-person-number-tips-outwarp{
    height: 1.5rem;
    width: 100%;
    position: relative;
    padding: 0 .8rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.order-group-person-number-tips-innerwarp{
    height: 1.5rem;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    overflow: hidden;
    display: -webkit-flex;
    display: flex;
}
.person-number-round-warp{
    width: .8rem;
    position: relative;
    -webkit-flex: 1;
    flex: 1;
}
.person-number-round-warp:after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #969696;
    left: 0;
    top: 50%;
    margin-top: -1px;
}
.person-number-round{
    position: absolute;
    width: .5rem;
    height: .5rem;
    top: .5rem;
    left: .2rem;
    border-radius: 50%;
    background-color: #969696;
    z-index: 10;
}
.person-number-round-warp-red .person-number-round{
    background-color: #e14a51;
}
.order-group-limit-warp{
    padding: 0 .8rem;
    position: relative;
}
.order-group-limit-warp:after{
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    height: 1px;
    background-color: #eeeeee;
    top: 50%;
}
.order-group-limit{
    font-size: .7rem;
    background-color: #ffffff;
    position: relative;
    z-index: 10;
    margin: 0 auto;
    width: 10rem;
    text-align: center;
}
.order-group-limit-time{
    color: #ffffff;
    display: inline-block;
    padding: 0 .3rem;
    border-radius: .2rem;
    background-color: #000000;
}
.order-recommend-warp{

}
.order-recommend-tips{
    font-size: .75rem;
    line-height: 2rem;
    margin-top: .5rem;
    text-align: center;
    background-color: #ffffff;
}
.order-recommend-container{
    overflow: hidden;
}
.order-recommend-product-outwarp{
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: .1rem;
    margin-top: .5rem;
    float: left;
}
.order-recommend-product-outwarp:nth-child(2n){
    padding-left: .1rem;
    padding-right: 0;
}
.order-recommend-product-innerwarp{
    width: 100%;
    background-color: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: .2rem;
}
.order-recommend-product-photo{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.order-recommend-product-photo img{
    position: absolute;
    left: 50%;
    top: 0;
    width: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.order-recommend-product-title{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: .7rem;
    margin-top: .2rem;
    min-height: 1.9rem;
}
.order-recommend-product-price-warp{
    overflow: hidden;
    margin-top: .2rem;
}
.order-recommend-product-price{
    font-size: .65rem;
    color: #e14a51;
    float: left;
    line-height: 1rem;
}
.order-recommend-product-group{
    font-size: .6rem;
    color: #969696;
    float: right;
    line-height: 1rem;
}
.order-group-remaining-tips{
    background-color: rgba(225,74,81,.8);
    color: #ffffff;
    font-size: .8rem;
    text-align: center;
    height: 2.5rem;
    line-height: 2.5rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 100;
}
.order-top-red-tips{
    background-color: #e14a51;
    color: #ffffff;
    font-size: .8rem;
    line-height: 1rem;
    width: 100%;
    padding: 1.2rem;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.order-info-warp{
    margin-top: .5rem;
    padding: 1rem .5rem;
    font-size: .7rem;
    color: #969696;
    line-height: 1rem;
    background-color: #ffffff;
}
.express-warp{
    margin-top: .5rem;
    background-color: #ffffff;
}
.express-title{
    line-height: 1.5rem;
    font-size: .7rem;
    padding: .5rem .8rem;
}
.express-item{
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 2.3rem;
    color: #969696;
    padding-bottom: 1rem;
}
.express-detail{
    font-size: .7rem;
    line-height: .7rem;
}
.express-time{
    font-size: .6rem;
    line-height: .8rem;
}
.express-item:after{
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    left: 1.2rem;
    background-color: #969696;
    top: 0;
    display: block;
}
.express-item-active:before{
    content: '';
    position: absolute;
    display: block;
    width: .6rem;
    height: .6rem;
    left: .9rem;
    top: 0;
    background-color: #e14a51;
    z-index: 10;
    border-radius: 50%;
}
.address-item-warp{
    background-color: #ffffff;
    padding: 0 .8rem;
    margin-bottom: .5rem;
}
.address-person-info{
    overflow: hidden;
    font-size: .7rem;
    padding-top: .5rem;
}
.address-person-name{
    float: left;
}
.address-person-phone{
    float: left;
    margin-left: .3rem;
}
.address-person-total{
    color: #969696;
    font-size: .65rem;
    position: relative;
    padding-bottom: .5rem;
}
.address-person-total:after{
    content: '';
    display: block;
    left: 0;
    bottom: 0;
    position: absolute;
    border-top: 1px solid #cccccc;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    height: 1px;
    width: 100%;
}
.address-btn-warp{
    overflow: hidden;
    color: #969696;
    font-size: .65rem;
    line-height: 1.6rem;
}
.address-default{
    float: left;
    position: relative;
    padding-left: 1rem;
}
.address-default-icon{
    position: absolute;
    left: 0;
    top: .4rem;
    width: .7rem;
    height: .7rem;
    border-radius: 50%;
    border: 1px solid #ccc;
    background: url("../images/success.png") no-repeat center;
    background-size: 80%;
}
.address-default-active .address-default-icon{
    background-color: #e14a51;
    border-color: #e14a51;
}
.address-edit{
    float: right;
    margin-left: 1rem;
    padding-left: 1rem;
    position: relative;
}
.address-edit-icon{
    position: absolute;
    left: 0;
    top: .4rem;
    width: .7rem;
    height: .7rem;
    background: url("../images/edit-icon.png") no-repeat center;
    background-size: 80%;
}
.address-del{
    float: right;
    position: relative;
    margin-left: 1rem;
    padding-left: 1rem;
}
.address-del-icon{
    position: absolute;
    left: 0;
    top: .4rem;
    width: .7rem;
    height: .7rem;
    background: url("../images/del-icon.png") no-repeat center;
    background-size: 80%;
}
.add-address-btn{
    position: fixed;
    height: 2rem;
    bottom: .5rem;
    width: 80%;
    left: 10%;
    text-align: center;
    line-height: 2rem;
    background-color: #e14a51;
    color: #ffffff;
    font-size: .8rem;
    display: block;
}
.address-list-warp{
    padding-bottom: 2.5rem;
}
.add-address-list-warp{
    background-color: #ffffff;
}
.add-address-item{
    position: relative;
    padding: 0 .8rem;
}
.add-address-item:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid #cccccc;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    display: block;
    width: 100%;
}
.add-address-item:last-child:after{
    display: none;
}
.add-address-layout{
    font-size: .75rem;
    position: absolute;
    left: .8rem;
    line-height: 2rem;
}
.add-address-content{
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 3.8rem;
    line-height: 1rem;
    font-size: .75rem;
    height: 2rem;
}
.save-address-btn{
    height: 2rem;
    width: 80%;
    left: 10%;
    text-align: center;
    line-height: 2rem;
    background-color: #e14a51;
    color: #ffffff;
    font-size: .8rem;
    display: block;
    margin: 1rem auto;
}